<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1>Agenda cultural</h1>
        <p class="lead">Una agenda accesible</p>
      </div>
    </div>
  </div>
</header>
<section class="py-5">
  <div class="container">
    <h2 class="text-center my-5">Eventos</h2>
    <div class="card-columns">
      <% @events.each do |event| %>
        <div class="card">
          <div class="card-body">
            <div class="card border-0">
              <div class="row">
                <div class="col-auto text-center">
                  <p>AGO<br><span class="display-4">18</span></p>
                </div>
                <div class="col-md-8">
                  <h5 class="card-title my-0">
                    <%= event.title %>
                  </h5>
                  <p class="card-text"><small class="text-muted"><%= event.location %><br><%= event.time.to_s(:time) %></small></p>
                </div>
              </div>
            </div>
            <p class="card-text"><%= event.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
