// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "*";

.masthead {
  background-color: rgb(250, 192, 24);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
